html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
}

h2 {
    float:left;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

p {
    margin-top: 2px;
    padding: 10px;
    border: 2px black solid;
    text-align: left;
}

input {
    border-radius: 5px;
    padding: 5% 5px;
    width: auto;
    min-width: 150px;
    margin: 10px auto;
    display: block;
}

.grid-container {
    display: inline-block;
    margin: 0 auto;
    max-width: 640px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.single-cols {
    grid-column: 1 / span 2;
    text-align: center;
    margin-bottom: 1%;
}

.single-cols img {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin-bottom:10px;
}

.bold {
    font-weight: bold;
}

#circle {

    margin-top: 50%;
    height: 200px;
    width: 200px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline-block;
}

#child {
    line-height: 200px;
}

#moreInfo {
    display: none;
}


.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {opacity: 0;}
}
